*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, Helvetica, Arial, sans-serif;

}
html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 13px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}


.center h3{
  font-size: 16px;
  font-weight: 600;
}

.center h3 span{
  font-size: 10px;
  font-weight: 500;
  color: #b1b1b1;
}

.center h2{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d6d3d3;
  padding-top: 15px;
}

.bottom button{
  background-color: #111;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600px;
  cursor: pointer;
}

.bottom h3{
  font-size: 17px;
  font-weight: 700;
}
.bottom p{
  font-size: 12px;
  color: #b1b1b1;
}