*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetiva neue';
}
html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  height: 100vh;
  width: 100vh;
  background-color: #111;
  padding: 30px;
}

.card{
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
}